/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 25, 2014, 2:51:57 PM
    Author     : Dlock
*/

body {
    background-color: #eaeaea;
}
@font-face
{
    font-family: title;
    src: url(../resources/fonts/franklingothic.TTF);
}
@font-face
{
    font-family: tabs;
    src: url(../resources/fonts/fippsRegular.otf);
}
@keyframes title
{
    0% {color: black;}
    50% {color: #2F35F5;}
    100% {color: white;}
}
@-webkit-keyframes title
{
    0% {color: black;}
    50% {color: #2F35F5;}
    100% {color: white;}
}
.layer
{
  background-color: rgba(31, 40, 51, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}
.mainTitle
{
    text-align: center;
    font-family: title;
    font-weight: bold;
    font-stretch: ultra-expanded;
    font-size: 75px;
    color: #66FCF1;
    /*animation: title 6s linear;
    -webkit-animation: title 6s linear;*/
}
.versionText
{
    font-weight: bold;
}
.workInProgress
{
    text-align: center;
    font-family: title;
    color: #C5C6C7;
    font-weight: bold;
    font-size: 30px;
}
.mainPhoto
{
    background-repeat: no-repeat;
    height: 400px;
    background-attachment: fixed;
    position: relative;
    background-image: url(../resources/pics/background.jpg);
    background-size: 100% 75%;
    border-style: solid;
}
.navbar-nav
{
  width: 100%;
}
.navbar-nav > li > a{
  border: medium none;
  color: #1F2833;
}
.navbar-nav > .active > a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
  color:#fff;
  background-color:#1F2833;
}
.navbar-nav > li > a:hover{
  background-color: #45A29E !important;
  border: medium none;
  border-radius: 0;
  color:#fff;
}
.portfolioPhoto
{
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-position-y: -300px;
    padding: 10px;
    height: 200px;
    background-attachment: fixed;
    position: relative;
    background-image: url(../resources/pics/IpFruion.png);
    border-style: solid;
    border-radius: 50px;
}
#cookieReset
{
    text-align: right;
    border-radius: 2px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    background: -webkit-linear-gradient(#eaeaea, #4BF251); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eaeaea, #4BF251); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eaeaea, #4BF251); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eaeaea, #4BF251);
}
