/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 25, 2014, 2:51:57 PM
    Author     : Dlock
*/

body {
    background-color: #eaeaea;
}
@font-face
{
    font-family: title;
    src: url(../resources/fonts/technoFont.TTF);
}
@font-face
{
    font-family: tabs;
    src: url(../resources/fonts/fippsRegular.otf);
}
@keyframes title
{
    0% {color: #eaeaea;
        text-shadow: 0px 0px 5px #9AC4F5;}
    50% {color: #2F35F5;}
    100% {color: black;
          text-shadow: 10px 10px 5px #9AC4F5;}
}
@-webkit-keyframes title
{
    0% {color: #eaeaea;
        text-shadow: 0px 0px 5px #9AC4F5;}
    50% {color: #2F35F5;}
    100% {color: black;
          text-shadow: 10px 10px 5px #9AC4F5;}
}
.mainTitle
{
    text-align: center;
    text-shadow: 10px 10px 5px #9AC4F5;
    font-family: title;
    font-weight: bold;
    font-stretch: ultra-expanded;
    font-size: 75px;
    background: #eaeaea;
    border-radius: 50px;
    border-style: solid;
    animation: title 6s linear;
    -webkit-animation: title 6s linear;
}
.versionText
{
    font-weight: bold;
}
.workInProgress
{
    text-align: center;
    font-family: title;
    color: #E6B01C;
    font-weight: bold;
    font-size: 30px;
    border-radius: 70px;
    border-style: solid;
    background: #eaeaea;
}
.mainPhoto
{   
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-position-y: -300px;
    padding: 10px;
    height: 300px;
    background-attachment: fixed;
    position: relative;
    background-image: url(../resources/pics/IpFruion.png);
    border-style: solid;
    border-radius: 50px;
}
.portfolioPhoto
{
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-position-y: -300px;
    padding: 10px;
    height: 200px;
    background-attachment: fixed;
    position: relative;
    background-image: url(../resources/pics/IpFruion.png);
    border-style: solid;
    border-radius: 50px;
}
.selectedTab
{
    background-color: #D9B2B2;
    border-top: 4px solid #4B6AF2;
}
.unselectedTab
{
    background-color: #eaeaea;
    border-top: 4px solid #eaeaea;
}
.selectedContent
{
    display: block;
    border-radius: 5px;
    padding: 10px;
    border-style: solid;
    border-color: #000;
    text-wrap: normal;
}
.unselectedContent
{
    display: none;
    border-radius: 5px;
    padding: 10px;
    border-style: solid;
    border-color: #000;
    text-wrap: normal;
}
#cookieReset
{
    text-align: right;
    border-radius: 2px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    background: -webkit-linear-gradient(#eaeaea, #4BF251); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eaeaea, #4BF251); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eaeaea, #4BF251); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eaeaea, #4BF251);
}
#tabs
{
    float: none;
    padding: 0;
    list-style: none;
    text-align: center;
    -webkit-transform: translate(-50px);
    transform: translate(-50px);
}
#tabs li
{
    display: inline-block;
    padding: 5px 10px;
    font-family: tabs;
    font-weight: bold;
    color: #1636B8;

    border-radius: 5px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
.downloader
{
    border-radius: 2px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    background: -webkit-linear-gradient(#eaeaea, #4BF251); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eaeaea, #4BF251); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eaeaea, #4BF251); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eaeaea, #4BF251);

}
#mainTab:hover
{
    border-top-color: #088C13; 
}
#portfolioTab:hover
{
    border-top-color: #A468F2;
}
#aboutTab:hover
{
    border-top-color: #CF3037;
}
#documentsTab:hover
{
    border-top-color: #EDBB15;
}
